<div>
  <p class="welcome">
    welcome to My Comic Library, here you can organize your Comics.
  </p>
  <p class="welcome">
    You can separate them into Read, Read, Lend</p>
  <p class="welcome">
    To add a comic, you will click the "Add Comic" button and you will redirect to a page when you enter a comic name and a comic list will appear.
  </p>
  <p class="welcome">
    All information came from the Marvel Comics
  </p>
  <p class="welcome start">
    Let's get started !!, click on a list or the button below
  </p>
  <a href="main/0" class=" btn-start btn btn-danger btn-lg">Start</a>
</div>
